.check-holder-view {
    max-width        : 1240px;
    display          : flex;
    flex-direction   : column;
    align-items      : center;
    justify-content  : center;
    margin           : 0 auto;
    height           : 100vh;
    background-repeat: no-repeat;
    background-size  : 100%;
    padding-top      : 20px;

    >header {
        display       : flex;
        flex-direction: column;
        text-align    : center;

        >h1 {
            font-size  : 2rem;
            font-weight: 700;
        }

        >h2 {
            font-size  : 0.725rem;
            padding-top: 8px;
            color      : black;
            font-weight: 300;
        }
    }

    >article {
        display       : flex;
        flex-direction: column;
        text-align    : center;
        align-items   : center;
        margin-top    : 16px;

        >img {
            max-width       : 30%;
            transform-origin: 50% 50%;
            margin          : 2rem;

            @media @phone {
                max-width: 50%;
            }
        }

        >a {
            width           : 50%;
            cursor          : pointer;
            padding         : 8px 12px 9px;
            font-weight     : 700;
            border-radius   : 4px;
            margin-bottom   : 32px;
            margin-right    : 8px;
            font-size       : 14px;
            text-decoration : none;
            color           : black;
            background-color: rgba(247, 222, 165, 0.8);

            &:hover {
                background-color: rgba(247, 222, 165, 0.9);
                color           : black;
            }

            &:active {
                background-color: rgba(247, 222, 165, 1);
                color           : black;
            }
        }
    }
}