@import "base.less";

@font-face {
    font-family: "ChosunGs";
    src        : url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGs.woff") format("woff");
    font-weight: normal;
    font-style : normal;
}

body {
    background-color: #000;
    color           : #fff;
}

@import "ui/popup.less";
@import "ui/dialogue/alert.less";
@import "ui/dialogue/confirm.less";
@import "ui/dialogue/prompt.less";
@import "ui/popup/login-popup.less";
@import "ui/chat-bar.less";

@import "gamenode/avatar-username.less";
@import "gamenode/message-balloon.less";
