/*
https://github.com/Hanul/sky-css-base
v0.0.1 | 20210109
Author: Sim Young Jae
License: MIT
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
*,
*:focus {
  outline: 0;
}
html {
  -webkit-tap-highlight-color: transparent;
}
a,
button,
input[type=button],
input[type=submit],
input[type=reset] {
  cursor: pointer;
}
button,
input {
  border: none;
}
[hidden] {
  display: none !important;
}
[contenteditable] {
  -webkit-tap-highlight-color: transparent;
}
.float-wrapper:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
@font-face {
  font-family: "ChosunGs";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGs.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: #000;
  color: #fff;
}
.popup-background {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding: 20px 0;
}
.dialogue.alert {
  position: relative;
  max-width: 440px;
  width: 100%;
  margin: auto;
  background: #000;
  border: 1px solid #3C3C3C;
  box-sizing: border-box;
  border-radius: 8px;
  font-family: "ChosunGs";
}
.dialogue.alert > h6 {
  color: #fff;
  padding: 0px 0px 0px 50px;
}
.dialogue.alert > .close-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 27px;
  padding-bottom: 13px;
  cursor: pointer;
}
.dialogue.alert > p {
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  padding: 0px 50px 50px 50px;
}
.dialogue.alert > .button-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.dialogue.alert > .button-container > button {
  font-family: "ChosunGs";
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  padding: 12px 0px;
  color: #000;
  background-color: #b19c76;
  border-radius: 0px 0px 8px 8px;
}
.dialogue.alert > .button-container > button:hover {
  background-color: rgba(177, 156, 118, 0.8);
}
.dialogue.confirm {
  position: relative;
  max-width: 440px;
  width: 100%;
  margin: auto;
  background: #000;
  border: 1px solid #3C3C3C;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
  font-family: "ChosunGs";
  color: #fff;
}
.dialogue.confirm > .close-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 27px;
  padding-bottom: 13px;
  cursor: pointer;
}
.dialogue.confirm > h6 {
  font-size: 24px;
  margin-bottom: 16px;
}
.dialogue.confirm > p {
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  padding: 0px 50px 50px 50px;
}
.dialogue.confirm > .button-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.dialogue.confirm > .button-container > button {
  font-family: "ChosunGs";
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  padding: 12px 0px;
  color: #161616;
  border-radius: 0px 0px 8px 8px;
}
.dialogue.confirm > .button-container > .cancel {
  border: 1px solid #b19c76;
  color: #fff;
  background: #1D1D1D;
  border-radius: 0px 0px 0px 8px;
}
.dialogue.confirm > .button-container > .ok {
  border-radius: 0px 0px 8px 0px;
  background-color: #b19c76;
}
.dialogue.confirm > .button-container > .ok:hover {
  background-color: rgba(177, 156, 118, 0.8);
}
.dialogue.prompt {
  position: relative;
  max-width: 440px;
  width: 100%;
  margin: auto;
  background: #161616;
  border: 1px solid #3C3C3C;
  box-sizing: border-box;
  border-radius: 8px;
  font-family: "ChosunGs";
  color: #fff;
}
.dialogue.prompt > .close-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 27px;
  padding-bottom: 13px;
  cursor: pointer;
}
.dialogue.prompt > h6 {
  font-size: 24px;
  padding: 0px 0px 0px 20px;
  margin-bottom: 16px;
}
.dialogue.prompt > p {
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  padding: 0px 20px 0px 20px;
}
.dialogue.prompt > .input-container {
  display: flex;
  justify-content: center;
  margin-top: 8px;
  padding: 16px 0px;
}
.dialogue.prompt > .input-container > input {
  width: 100%;
  max-width: 398px;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px;
  height: 36px;
  border: 1px solid #e4e8eb;
  background-color: transparent;
  color: white;
}
.dialogue.prompt > .input-container > input:hover {
  border: 1px solid #F3C754;
}
.dialogue.prompt > .input-container > input:focus {
  border: 1px solid #F3C754;
}
.dialogue.prompt > .button-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.dialogue.prompt > .button-container > button {
  font-family: "ChosunGs";
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  padding: 12px 0px;
  color: #161616;
}
.dialogue.prompt > .button-container > button:hover {
  background: white;
}
.dialogue.prompt > .button-container > .left {
  border-radius: 0px 0px 0px 8px;
}
.dialogue.prompt > .button-container > .right {
  border-radius: 0px 0px 8px 0px;
  background-color: #b19c76;
}
.dialogue.prompt > .button-container > .right:hover {
  background-color: rgba(177, 156, 118, 0.8);
}
.login-popup {
  width: 520px;
  font-family: "ChosunGs";
  display: flex;
  flex-direction: column;
  text-align: center;
  z-index: 2;
  padding: 16px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
}
.login-popup > header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.login-popup > header > img {
  width: 128px;
  height: 128px;
}
@media only screen and (max-width: 719px) {
  .login-popup > header > p {
    font-size: 12px;
  }
}
.login-popup > article {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-top: 32px;
}
.login-popup > article > a {
  cursor: pointer;
  display: block;
  background-color: #000;
  width: 100%;
  padding: 16px 0px;
  border-radius: 30px;
  margin-top: 16px;
  color: #000;
  text-decoration: none;
  background-color: rgba(247, 222, 165, 0.8);
}
.login-popup > article > a:hover {
  background-color: rgba(247, 222, 165, 0.9);
  color: #fff;
}
.login-popup > article > a:active {
  background-color: #f7dea5;
  color: #fff;
}
.message-balloon {
  min-width: 100px;
  font-size: 12px;
  border: 1px solid #0e0000;
  border-radius: 4px;
  text-align: center;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #000;
}

